<footer
  class="fixed bottom-0 left-0 z-20 w-full text-center bg-neutral-200 dark:bg-neutral-700 lg:text-left">
  <div class="p-4 text-center text-neutral-700 dark:text-neutral-200">
    © <%= Date.today.year %> Copyright
  </div>
</footer>
